.Request-button{
    background-color: black;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    cursor: pointer;
    transition: background-color 0.5s ease, width 0.5s;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.8);
    
}
.Request-button:hover{
    background-color: blue;
    width: 150px;
    
}
.Request-button:active{
    opacity: 0.7;
}
.Add-to-cart-btn{
    background-color: rgb(255, 216, 20);
    color: black;
    height: 34px;
    width: 150px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: box-shadow 1s, opacity 0.5s;
}
.Add-to-cart-btn:hover{
    height: 40px;
    border-radius: 1px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.6);
}
.Add-to-cart-btn:active{
    opacity: 0.3;
}
.Sign-up-button{
    background-color: rgb(46, 164, 79);
    color: white;
    height: 38px;
    width: 105px;
    border: none;
    border-radius: 4px;
    transition: color 1s, font-style 1s, box-shadow 0.15s;
    cursor: pointer;
}
.Sign-up-button:active{
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.4);
}
.Sign-up-button:hover{
    border-radius: 19px;
    width: 115px;
}
.Start-button{
    background-color: rgb(121, 82, 179);
    color: white;
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    transition: height 0.15s, width 0.15s;
    cursor: pointer;
}
.Start-button:active{
    transform: rotate(90deg);
}
.Download-button{
    background-color: white;
    color: rgb(108, 117, 125);
    height: 36px;
    width: 105px;
    border: 1.5px;
    border-style: solid;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.1s, opacity 0.15s;
}
.Download-button:hover{
    background-color:lightseagreen;
    font-style: italic;
    font-size: 15px;
    box-shadow: 7px 8px 5px rgba(0, 0, 0, 0.5);

}
.Download-button:active{
    opacity: 0.7;
    transform: rotate(90deg);
}
.Apply-button{
    background-color: rgb(10, 102, 194);
    color: white;
    height: 42px;
    width: 230px;
    border: none;
    border-radius: 21px;
    font-weight: bold;
    font-size: 15px;
}
.Apply-button:active{
    background-color:darkslateblue;
    color: rgb(195, 110, 7);
}
.Apply-button:hover{
    border-style: double;
    cursor: pointer;
    box-shadow: -5px -4px 5px rgba(0, 0, 0, 0.7);
}
.Save-button{
    background-color: white;
    color: rgb(10, 102, 194);
    height: 42px;
    width: 98px;
    border-radius: 21px;
    border-color: rgb(10, 102, 194);
    border-width: 1.5px;
    font-weight: bold;
    font-size: 20px;
}
.Save-button:hover{
    background-color: aqua;
    color: rgb(117, 139, 139);
    cursor: pointer;
}
.Save-button:active{
    height: 36px;
    width: 90px;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    font-style: oblique;
    font-size: 15px;
    opacity: 0.7;
}