        .container{
            background-color: darkgray;
            margin-right: 500px;
            margin-left: 500px;
            padding: 10px;
            text-align: center;
            border-color: black;
            border: 1px;
            border-style: solid;
        }
        .Add-button{
            background-color: crimson;
            color: white;
            border: none;
            height: 30px;
            width: 90px;
            border-radius: 2px;
            cursor: pointer;

        }
        .Buy-button{
            background-color: crimson;
            color: white;
            border: none;
            height: 30px;
            width: 90px;
            border-radius: 2px;
            cursor: pointer;
        }